.profile-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  min-height: 22vh;
  margin-top: 20px;
  border-radius: 20px;
}

@media screen and (min-width: 576px) {
  .profile-bg-container {
    height: 35vh;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.profile-img {
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 576px) {
  .profile-img {
    height: 60px;
    width: 60px;
  }
}

.profile-name {
  color: #4f46e5;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 576px) {
  .profile-name {
    font-size: 24px;
  }
}

.profile-bio {
  color: #64748b;
  font-family: 'roboto';
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 576px) {
  .profile-bio {
    font-size: 18px;
  }
}

.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.retry-button {
  background-color: #4f46e5;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 576px) {
  .retry-button {
    font-size: 20px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
